a:hover,a:focus{
    outline: none;
    text-decoration: none;
    }
    .tab .nav-tabs{
    border: 1px solid #1fc1dd;
    }
    .tab .nav-tabs li{
    margin: 0;
    }
    .tab .nav-tabs li a{
    font-size: 10px;
    color: black;
    background: #fff;
    margin: 0;
    padding: 10px 20px;
    border-radius: 0;
    border: none;
    border-right: 1px solid #ddd;
    text-transform: uppercase;
    position: relative;
    }
    .tab .nav-tabs li a:hover{
    border-top: none;
    border-bottom: none;
    border-right-color: #ddd;
    }
    .tab .nav-tabs li.active a,
    .tab .nav-tabs li.active a:hover{
    color: #fff;
    border: none;
    background: #1fc1dd;
    border-right: 1px solid #ddd;
    }
    .tab .nav-tabs li.active a:before{
    content: "";
    width: 58%;
    height: 4px;
    background: #fff;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    margin: 0 auto;
    }
    .tab .nav-tabs li.active a:after{
    content: "";
    border-top: 10px solid #1fc1dd;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    position: absolute;
    bottom: -10px;
    left: 43%;
    }
    .tab .tab-content{
    font-size: 12px;
    color: black;
    line-height: 25px;
    background: #fff;
    padding: 0px;
    border: 1px solid #1fc1dd;
    border-top: none;
    height:700px;
    }
    .tab .tab-content h3{
    font-size: 24px;
    color: #999898;
    margin-top: 0;
    }
    .body {
        margin: 10px
    }
.spinner {
  width: 50px;
  height: 50px;
  border: 5px solid #ccc;
  border-top-color: #1fc1dd;
  border-radius: 100%;
  /**Let us bring it to the center***/
  position: fixed;
  left: 50%;
  right: 0;
  top: 10%;
  bottom: 0;
  /**margin: auto;**/
  /**Let us spin it**/
  animation: spin 2s linear infinite;

}
@keyframes spin{
  from{transform: rotate(0deg)}
  to{transform: rotate(360deg)}
}