<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">Payment Plan</h3>
  </div>
  <div class="panel-body" style="height:500px">
    <div class="row">
      <div class="col-sm-4">
        <p>New Payment Plan</p>

        <hr>

        <form class="form-horizontal" #ptpForm="ngForm" (ngSubmit)="onSubmit(ptpForm)">
          <div class="form-group">
            <label class="control-label col-sm-4" for="planfreq">Frequency:</label>
            <div class="col-sm-8">
              <select class="form-control" id="planfreq" name="planfreq" #planfreq="ngModel" [(ngModel)]="model.planfreq" required>
                <option selected>Custom</option>
                <option value="Daily">Daily</option>
                <option value="Weekly">Weekly</option>
                <option value="Monthly">Monthly</option>
                <option value="Quartely">Quartely</option>
                <option value="Bi-Annual">Bi-Annual</option>
                <option value="Yearly">Yearly</option>
              </select>
            </div>
            <div class="validation-error" *ngIf="planfreq.invalid && planfreq.touched">Frequency is required</div>
          </div>
          <div class="form-group">
            <label class="control-label col-sm-4" for="ptpamount">amount:</label>
            <div class="col-sm-8">
              <input type="number" class="form-control" id="ptpamount" placeholder="Promise amount" name="ptpamount" #ptpamount="ngModel" [(ngModel)]="model.ptpamount" required>
            </div>
            <div class="validation-error" *ngIf="ptpamount.invalid && ptpamount.touched">Promise amount is required</div>
          </div>

          <div class="form-group">
            <label class="control-label col-sm-4" for="no_of_frequency">No of payments:</label>
            <div class="col-sm-8">
              <input type="text" class="form-control" id="no_of_frequency" value="1" name="no_of_frequency" #no_of_frequency="ngModel" [(ngModel)]="model.no_of_frequency" required>
            </div>
            <div class="validation-error" *ngIf="no_of_frequency.invalid && no_of_frequency.touched">No of Payments is required</div>
          </div>
          <div class="form-group">
            <label class="control-label col-sm-4" for="ptpstartdate">Start date:</label>
            <div class="col-sm-8">
              <input type="text" class="form-control" id="ptpstartdate" bsDatepicker [minDate]="minDate" [bsConfig]="{ dateInputFormat: 'DD-MM-YYYY' }"
                     placement="left" name="ptpstartdate" #ptpstartdate="ngModel" [(ngModel)]="model.ptpstartdate" required>
            </div>
            <div class="validation-error" *ngIf="ptpstartdate.invalid && ptpstartdate.touched">Start Date is required</div>
          </div>
          <div class="form-group">
            <label class="control-label col-sm-4" for="ptpenddate">End date:</label>
            <div class="col-sm-8">
              <input type="text" class="form-control" id="ptpenddate" bsDatepicker [minDate]="minDate" [bsConfig]="{ dateInputFormat: 'DD-MM-YYYY' }"
                     placement="left" name="ptpenddate" #ptpenddate="ngModel" [(ngModel)]="model.ptpenddate" required>
            </div>
            <div class="validation-error" *ngIf="ptpenddate.invalid && ptpenddate.touched">End Date is required</div>
          </div>
          <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
              <button [disabled]="!ptpForm.valid || !ptpForm.dirty" class="mr-1 btn btn-success btn-block" type="submit">
                <i class="fa fa-save"></i> Submit</button>
            </div>
          </div>
        </form>
      </div>

    <div class="col-sm-8">
      <table class="grid table table-bordered table-sortable">
        <thead>
        <tr>
          <th>accountNumber</th>
          <th>PTP Amount</th>
          <th>PTP Date</th>
          <th>Frequency</th>
          <th>No. of payments</th>
          <th>Date Made</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let p of ptphis">
          <td>{{p.ACCNUMBER}}</td>
          <td>{{p.PTPAMOUNT}}</td>
          <td>{{p.PTPSTARTDATE | date}}</td>
          <td>{{p.PTPFREQ}}</td>
          <td>{{p.NO_OF_FREQUENCY}}</td>
          <td>{{p.DATEUPDATED | date}}</td>
        </tr>
        </tbody>
      </table>
    </div>

  </div>
</div>
</div>
